# Ignore Python artifacts
__pycache__/
book-review-backend/**/*.py[cod]
book-review-backend/*.sqlite3
book-review-backend/db.sqlite3
book-review-backend/*.log

# Django specific
book-review-backend/media/
book-review-backend/staticfiles/
book-review-backend/.env

# Ignore React build and node modules
book-review-frontend/node_modules/
book-review-frontend/build/
book-review-frontend/.env
book-review-frontend/.DS_Store

# Ignore IDE/editor config
.vscode/
.idea/
*.swp
*~

# OS-specific
.DS_Store
Thumbs.db
